# hide config values
./config.js
*./config.js
*config.js
/config.js
./config.cjs
.config.cjs 
config.cjs
*config.cjs

# env 
.env
.env.production
.env.development
./env 

# node_modules
.node_modules
./node_modules
*node_modules
